@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #262626;
}

.background-div {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 269px;
    background-image: linear-gradient(to bottom, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 0) 50%),
        linear-gradient(to top, rgba(38, 38, 38, 1) 0%, transparent 20%), url("../../assets/img/background.webp");
}

.overlay-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.text-background {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #ffffff;
}

.body-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 29.3%);
    place-items: center;
    justify-content: center;
    grid-gap: 60px;
    margin-top: 32px;
    width: 100%;
}

@media (max-width: 1000px) {
    .list {
        grid-template-columns: repeat(2, 45%);
    }
}

@media (max-width: 768px) {
    .list {
        grid-template-columns: repeat(1, 80%);
    }

    .text-background {
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        color: #ffffff;
    }
}

@media (max-width: 415px) {
    .list {
        grid-template-columns: repeat(1, 80%);
    }

    .text-background {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: #ffffff;
    }
}