@import url('https://fonts.googleapis.com/css2?family=Erica+One&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color:#262626;
}

.background-div{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 269px;
    background-image: url("../../assets/img/background.webp");
}

.overlay-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.text-background{
    font-family: 'Erica One', cursive;
    font-size: 36px;
    color: #ffffff;
}

.list{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 42px;
    justify-items: center;
    margin-top:100px ;
}

