@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container-menu{
    background-color:#0F0F0F;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
height: 120px;
    margin:0
}
.icon-logo{
    width: 52px;
    padding-right: 18px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
}
.title{
    color: #FFFFFF;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #323232;
    border-radius: 28px;
    margin-right: 8%;
}
.icon-filter{
    padding: 16px;
    background-color:#262626 ;
    width: 24px;
    border-radius: 28px 28px 28px 28px;
    cursor: pointer;
}
.search-input{
    width: 560px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding-left: 15px;
    border-radius: 28px;
    background-color: #323232;
    color: #FFFFFF;
    border: none;
}

.search-input:focus{
    outline: none;
}