@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container-menu{
    background-color:#0F0F0F;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    margin:0
}
.icon-logo{
    width: 52px;
    padding-right: 18px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
}
.title{
    color: #FFFFFF;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #323232;
    border-radius: 28px;
    margin-right: 8%;
}
.icon-filter{
    padding: 16px;
    background-color:#262626 ;
    width: 24px;
    border-radius: 28px 28px 28px 28px;
    cursor: pointer;
}
.search-input{
    width: 560px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding-left: 15px;
    border-radius: 28px;
    background-color: #323232;
    color: #FFFFFF;
    border: none;
}

.search-input:focus{
    outline: none;
}

.dropdown-menu{
    background-color: #262626;
    width: 324px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    position: absolute;

}

.dropdown-option{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.dropdown-option:hover{
    color: aqua;
}

.select-button{
    position: fixed !important;
    margin-top: 20%;
    margin-left: 50%;    
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1279px){
    .search-input{
        width: 300px;
    }
}

@media (max-width: 768px){
    .search-input{
        width: 200px;
        height: 24px;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
        padding-left: 15px;
        border-radius: 12px;
    }
    .search{
        margin-right: 0;
    }
    .container-menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .icon-filter{
        padding: 10px;
        background-color:#262626 ;
        width: 12px;
        border-radius: 28px 28px 28px 28px;
        cursor: pointer;
    }
    .logo{
        margin-left: 0;
        width: 4%;
        margin-bottom: 15px;
    }
    .title{
        font-size: 24px;
    }
}